@import "bootstrap/functions";
@import "bootstrap/variables_tm";
@import "bootstrap/mixins";
@import "variables-site/variables-site";
@import "mixins/mixins-master";

.edit-post-visual-editor {

	// Import Bootstrap Components
	//@import "bootstrap/root";
	@import "bootstrap/reboot";
	@import "bootstrap/reboot_tm";
	@import "bootstrap/type";
	@import "bootstrap/type_tm";
	@import "bootstrap/images";
	@import "bootstrap/code";
	@import "bootstrap/code_tm";
	@import "bootstrap/grid";
	@import "bootstrap/tables";
	@import "bootstrap/forms";
	@import "bootstrap/buttons";
	@import "bootstrap/buttons_tm";
	@import "bootstrap/transitions";
	@import "bootstrap/dropdown";
	@import "bootstrap/button-group";
	@import "bootstrap/input-group";
	@import "bootstrap/custom-forms";
	@import "bootstrap/nav";
	@import "bootstrap/navbar";
	@import "bootstrap/navbar_tm";
	@import "bootstrap/card";
	@import "bootstrap/breadcrumb";
	@import "bootstrap/pagination";
	@import "bootstrap/badge";
	@import "bootstrap/jumbotron";
	@import "bootstrap/alert";
	@import "bootstrap/progress";
	@import "bootstrap/media";
	@import "bootstrap/list-group";
	@import "bootstrap/close";
	@import "bootstrap/modal";
	@import "bootstrap/tooltip";
	@import "bootstrap/popover";
	@import "bootstrap/carousel";
	@import "bootstrap/utilities";
	@import "bootstrap/print";
	@import "bootstrap/tsumugi-style";

	// Migrate Bootstrap Variables

	$gray: $gray-700;
	$gray-light: $gray-600;
	$gray-lighter: $gray-200;
	$gray-lightest: $gray-100;

	$font-size-h1: $h1-font-size;
	$font-size-h2: $h2-font-size;
	$font-size-h3: $h3-font-size;
	$font-size-h4: $h4-font-size;
	$font-size-h5: $h5-font-size;
	$font-size-h6: $h6-font-size;

	$brand-primary: theme-color("primary");

	// Import Underscore Components
	@import "typography/typography";
	@import "elements/elements";
	@import "forms/forms";
	@import "modules/alignments";
	@import "modules/clearings";
	@import "site/primary/posts-and-pages";
	@import "media/media";

	font-family: sans-serif; // 2
	line-height: 1.15; // 3
	-webkit-text-size-adjust: 100%; // 4
	-ms-text-size-adjust: 100%; // 4
	-ms-overflow-style: scrollbar; // 5
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0); // 6
  
	font-family: $font-family-base;
	font-size: $font-size-base;
	font-weight: $font-weight-base;
	line-height: $line-height-base;
	color: $body-color;
	text-align: left; // 3
	background-color: $body-bg; // 2
  
	.editor-block-list__layout {
		margin: 1em 0 0;
		>.editor-block-list__block>.editor-block-list__block-edit,
		>.editor-block-list__layout>.editor-block-list__block>.editor-block-list__block-edit,
		>.editor-default-block-appender__content {
			margin-bottom: 0;
			margin-top: 0;
		}
	}

	.editor-post-title__block,
	.editor-block-list__block {
		@include media-breakpoint-up(sm) {
			max-width: map-get($container-max-widths, 'sm') !important;
		}
		@include media-breakpoint-up(md) {
			max-width: map-get($container-max-widths, 'md') !important;
		}
		@include media-breakpoint-up(lg) {
			max-width: map-get($container-max-widths, 'lg') !important;
		}
		@include media-breakpoint-up(xl) {
			max-width: map-get($container-max-widths, 'xl') !important;
		}
		padding-left: 15px;
		padding-right: 15px;
	}

	.editor-post-title__block {
		> div {
			margin-right: 0;
			margin-left: 0;
		}
		.editor-post-title__input {
			margin-bottom: .5rem;
			line-height: 1.4;
			font-family: $font-family-base;
			font-size: $h1-font-size;
			font-weight: 500;
			color: $body-color;
			padding: 0;
		}
	}
	.editor-block-list__block {
		font-family: $font-family-base;
		.editor-block-list__block-edit {
			margin-left: auto;
			margin-right: auto;
		}
		ul.editor-rich-text__tinymce,
		ol.editor-rich-text__tinymce {
			margin: 0 0 1rem 0;
			padding-left: 1.5rem;
		}
	}
	
	h1 {
		font-size: $h1-font-size;
	}
	h2 {
		font-size: $h2-font-size;
	}
	p {
		//font-family: $font-family-base;
	}
	.wp-block-image figcaption {
		//font-family: $font-family-base;
	}
	.wp-block-quote {
		margin: 0 1rem;
		padding: 0 1rem;
		border-left: 5px solid #429BBF !important;
	}
	.wp-block-quote__citation {
		font-style: italic;
		font-size: inherit;
		color: $body-color;
	}
	.wp-block-separator {
		background-color: #ccc;
		border: 0;
		height: 1px;
		margin-bottom: 1.5em;
	}

}