.site-header {
  word-wrap: break-word;
  @include media-breakpoint-up(md) {
    text-align: center;
  }
}

.site-branding {
  text-align: center;
  border-bottom: 1px dashed #165E83;
  margin-bottom: 1.5rem;
  @include media-breakpoint-up(md) {
    margin-top: -1rem;
  }
}

.site-title {
  margin: .5rem auto 1.5rem auto;
  line-height: .5;
  font-family: 'Annie Use Your Telescope', cursive;
  font-size: 2.5rem;
  @include media-breakpoint-up(md) {
    font-size: 3.5rem;
    margin: 2rem auto 3rem;
  }
  @include media-breakpoint-up(lg) {
    font-size: 4.5rem;
  }
  @include media-breakpoint-up(xl) {
    font-size: 5.5rem;
  }
  a {
  	color: #165E83;

  	&:hover {
  		color: #165E83;
  	}
  }
  img {
    width: 136px;
    height: auto;
    margin: 0 0 .5rem 0;
    vertical-align: text-bottom;
    @include media-breakpoint-up(md) {
      margin: -1rem 1rem -2rem -5rem;
    }
    @include media-breakpoint-up(lg) {
      width: 164px;
    }
    @include media-breakpoint-up(xl) {
      width: 190px;
    }
  }
}

.site-description {
  margin-bottom: .5rem;
  @include media-breakpoint-up(md) {
    margin-top: -.75rem;
  }
  @include media-breakpoint-up(lg) {
    font-size: 1.125rem;
  }
}

.custom-header {
  margin-bottom: 1rem;
}

.header-video-mp4 video {
	display: block;
	height: auto;
	max-width: 100%;
}

.header-video-youtube {
  margin-bottom: 4rem;
  overflow: visible;
  @include media-breakpoint-down(sm) {
    display: none;
  }
}

.wp-custom-header-video-button {
  margin-top: 1rem;
}

.header-video-youtube .wp-custom-header-video-button {
  margin-top: .6rem;
  position: absolute;
  top: 100%;
  left: 50%;
}

.header-video-youtube .wp-custom-header-video-play {
  margin-left: -2.9rem;
}

.header-video-youtube .wp-custom-header-video-pause {
  margin-left: -2.9rem;
}
