extends ./_parts/_layout

//------------------
//- variable
//------------------
block var_block

//------------------
//- header meta
//------------------
block headMETA

//------------------
//- header Css
//------------------
block headCSS
  link(rel="stylesheet", href=rootPath+"css/style.css")
  script(src=rootPath+"js/top.js")

//- -----------------
//- Contents
//- -----------------
block header_block
  include ./_parts/_header

block contents_block

  section.section.main
    .container
      .row
        .col-8.text-center
          p.main__text
            | Weaving your words eternally…
          p.main__text2
            | Create a website with simple WordPress theme "tsumugi" for blogging.
          div
            a.btn.btn-primary.main__button(href="https://dock.readyship.co/website/create/a0628931-83f0-4029-b762-d983747af200") Create a Website
          div
            a.btn.btn-outline-primary.main__button2.mr-3(href="https://wordpress.org/themes/tsumugi/", target="_blank") Free Download
            a.btn.btn-outline-primary.main__button2(href="http://tsumugi.halfmoon.jp/", target="_blank") Live Demo
        .col-4

  section.section.mt-3.mb-3.mb-lg-0
    .container
      .row
        .col-lg-8
          p
            img.section__image(src=rootPath+"img/screen1.png", alt="Simple for Everyone")
        .col-lg-4
          h2.section__title.mt-xl-5 Simple for Everyone
          p.section__text
            | You can build a website quick and easy with no technical knowledge. Just you need is writing. All templates and components are prepared. It’s installed with WordPress in fast and reliable server.
          a.section__link(href="https://dock.readyship.co/website/create/a0628931-83f0-4029-b762-d983747af200")
            i.fa.fa-angle-right(aria-hidden="true")
            | &nbsp;
            | Get Started

  section.section.sub

  section.section.sub2
    .container
      .row
        .col-12.col-lg-8
          h2.section__title Mobile Friendly
          p.section__text
            | Beautiful and simple design theme is activated. Bring a comfortable readability by responsive web design adapted to mobile devices. The theme author whom expert of HTML5 supports usage and customization.
          a.section__link(href="http://tsumugi.halfmoon.jp/", target="_blank")
            i.fa.fa-angle-right(aria-hidden="true")
            | &nbsp;
            | View Live Demo
        .col-0.col-lg-4

  section.section.mt-3.mt-lg-5
    .container
      .row
        .col-lg-8
          p
            img.section__image(src=rootPath+"img/screen2.png", alt="Edit in 3 minutes")
        .col-lg-4
          h2.section__title.mt-lg-5 Edit in 3 minutes
          p.section__text
            | You can edit the site logo, header image, menus and all widgets as you want. Intuitive user interface and drag-and-drop uploader is provided. Over 5 thousand functional plugins are available too.
          a.section__link(href="https://dock.readyship.co/website/create/a0628931-83f0-4029-b762-d983747af200")
            i.fa.fa-angle-right(aria-hidden="true")
            | &nbsp;
            | Get Started

  section.section#features
    .container
      .row
        .col
          h2.section__title.text-center.mb-4 Features
      .row
        .col-md-6.col-lg-4
          h3.section__subTitle
            span.fa-stack.fa-lg
              i.fa.fa-circle.fa-stack-2x(aria-hidden="true")
              i.fa.fa-tablet.fa-stack-1x.fa-inverse(aria-hidden="true")
            | Responsive Layout
          p.section__text
            | This theme consists of a single column layout which is suitable for mobile devices and tablets along with PCs.
        .col-md-6.col-lg-4
          h3.section__subTitle
            span.fa-stack.fa-lg
              i.fa.fa-circle.fa-stack-2x(aria-hidden="true")
              i.fa.fa-bars.fa-stack-1x.fa-inverse(aria-hidden="true")
            | Custom Menu
          p.section__text
            | You can put a navigation menu in the header area. Link to any pages or external URLs. Nested menus which behave as pull-down is available.
        .col-md-6.col-lg-4
          h3.section__subTitle
            span.fa-stack.fa-lg
              i.fa.fa-circle.fa-stack-2x(aria-hidden="true")
              i.fa.fa-copyright.fa-stack-1x.fa-inverse(aria-hidden="true")
            | Custom Logo
          p.section__text
            | You can put a logo image ahead of the site title. Make it remarkable for your site with the impressive logo.
        .col-md-6.col-lg-4
          h3.section__subTitle
            span.fa-stack.fa-lg
              i.fa.fa-circle.fa-stack-2x(aria-hidden="true")
              i.fa.fa-picture-o.fa-stack-1x.fa-inverse(aria-hidden="true")
            | Custom Header
          p.section__text
            | You can put a header image or video below the site title. How about reporting latest activities with a stylish photo or movie?
        .col-md-6.col-lg-4
          h3.section__subTitle
            span.fa-stack.fa-lg
              i.fa.fa-circle.fa-stack-2x(aria-hidden="true")
              i.fa.fa-puzzle-piece.fa-stack-1x.fa-inverse(aria-hidden="true")
            | Widgets
          p.section__text
            | You can put various components in the footer area. Let's compose your site with archive links, search box, calendar, photo gallery... and so on.
        .col-md-6.col-lg-4
          h3.section__subTitle
            span.fa-stack.fa-lg
              i.fa.fa-circle.fa-stack-2x(aria-hidden="true")
              i.fa.fa-paint-brush.fa-stack-1x.fa-inverse(aria-hidden="true")
            | Theme Customizer
          p.section__text
            | You can edit more useful theme options with the "Theme Customizer". Designing process is easy and quick so it can be checked in realtime.
        .col-12.text-center
          div
            a.btn.btn-primary.main__button(href="https://dock.readyship.co/website/create/a0628931-83f0-4029-b762-d983747af200") Create a Website
          div
            a.btn.btn-outline-primary.main__button2.mr-3(href="https://wordpress.org/themes/tsumugi/", target="_blank") Free Download
            a.btn.btn-outline-primary.main__button2(href="http://tsumugi.halfmoon.jp/", target="_blank") Live Demo

  section.section.mt-5#special-thanks
    .container
      .row
        .col
          h2.section__title.text-center.mb-4 Special Thanks
          p.section__text
            | The name of "tsumugi" is inspired by the song "Tsumugi &#45;amaneku omoi&#45;" written by
            a(href="http://hatsune-official.com/", target="_blank")  Hatsune
            | (A Japanese singer-songwriter).
          p.text-center
            .embed-responsive.embed-responsive-16by9
              iframe.embed-responsive-item(src="https://www.youtube.com/embed/pAHZ9ATXV_Q", width="560", height="315", frameborder="0", allowfullscreen)

  //- .github-corner-wrap.
  //-   <a href="https://github.com/littlebirdjp/tsumugi" target="_blank" class="github-corner" aria-label="View source on Github"><svg width="80" height="80" viewBox="0 0 250 250" style="fill:#151513; color:#fff; position: absolute; top: 0; border: 0; right: 0;" aria-hidden="true"><path d="M0,0 L115,115 L130,115 L142,142 L250,250 L250,0 Z"></path><path d="M128.3,109.0 C113.8,99.7 119.0,89.6 119.0,89.6 C122.0,82.7 120.5,78.6 120.5,78.6 C119.2,72.0 123.4,76.3 123.4,76.3 C127.3,80.9 125.5,87.3 125.5,87.3 C122.9,97.6 130.6,101.9 134.4,103.2" fill="currentColor" style="transform-origin: 130px 106px;" class="octo-arm"></path><path d="M115.0,115.0 C114.9,115.1 118.7,116.5 119.8,115.4 L133.7,101.6 C136.9,99.2 139.9,98.4 142.2,98.6 C133.8,88.0 127.5,74.4 143.8,58.0 C148.5,53.4 154.0,51.2 159.7,51.0 C160.3,49.4 163.2,43.6 171.4,40.1 C171.4,40.1 176.1,42.5 178.8,56.2 C183.1,58.6 187.2,61.8 190.9,65.4 C194.5,69.0 197.7,73.2 200.1,77.6 C213.8,80.2 216.3,84.9 216.3,84.9 C212.7,93.1 206.9,96.0 205.4,96.6 C205.1,102.4 203.0,107.8 198.3,112.5 C181.9,128.9 168.3,122.5 157.7,114.1 C157.9,116.9 156.7,120.9 152.7,124.9 L141.0,136.5 C139.8,137.7 141.6,141.9 141.8,141.8 Z" fill="currentColor" class="octo-body"></path></svg></a><style>.github-corner:hover .octo-arm{animation:octocat-wave 560ms ease-in-out}@keyframes octocat-wave{0%,100%{transform:rotate(0)}20%,60%{transform:rotate(-25deg)}40%,80%{transform:rotate(10deg)}}@media(max-width:991px){.github-corner{display:none}}</style>

block footer_block
  include ./_parts/_footer

//------------------s
//- footer js
//------------------
block footerJS
