extends ./_parts/_layout

//------------------
//- variable
//------------------
block var_block

//------------------
//- header meta
//------------------
block headMETA

//------------------
//- header Css
//------------------
block headCSS
  link(rel="stylesheet", href=rootPath+"css/style.css")
  script(src=rootPath+"js/top.js")

//- -----------------
//- Contents
//- -----------------
block header_block
  include ./_parts/_header

block contents_block

  section.section.main.mb-5
    .container
      .row
        .col-8.text-center
          p.main__text
            | Weaving your words eternally…
          p.main__text2
            | Create a website with simple WordPress theme tsumugi for blogging.
          div
            a.btn.btn-primary.main__button(href="#", target="_blank") Create a Website
          div
            a.btn.btn-outline-primary.main__button2.mr-3(href="https://wordpress.org/themes/tsumugi/", target="_blank") Free Download
            a.btn.btn-outline-primary.main__button2(href="http://tsumugi.halfmoon.jp/", target="_blank") Live Demo
        .col-4

  section.section#concept
    .container
      .row
        .col
            h2.section__title.text-center.mb-4 Concept
      .row
        .col-md-4.mb-4
          h3.section__subTitle.text-center Mobile Friendly
          p.section__text
            | Bring a comfortable readability by responsive web design adapted to mobile devices.
          a.section__link(href="http://tsumugi.halfmoon.jp/", target="_blank")
            i.fa.fa-angle-right(aria-hidden="true")
            | &nbsp;
            | Look “Live Demo” for actual look and feel.
        .col-md-4.mb-4
          h3.section__subTitle.text-center User Friendly
          p.section__text
            | Even beginners can use easily, because there are no complicated functions or options.
          a.section__link(href="#features")
            i.fa.fa-angle-right(aria-hidden="true")
            | &nbsp;
            |Look “Features” for available functions.
        .col-md-4.mb-4
          h3.section__subTitle.text-center Sustainability
          p.section__text
            | Easily update to the latest version of Bootstrap for it’s expansive structure. (Latest version is Bootstrap v4.0.0)
          a.section__link(href="#customization")
            i.fa.fa-angle-right(aria-hidden="true")
            | &nbsp;
            | Look “Customization” for developer information.

  section.section.mt-5#features
    .container
      .row
        .col
          h2.section__title.text-center.mb-4 Features
      .row
        .col-md-6
          h3.section__subTitle
            span.fa-stack.fa-lg
              i.fa.fa-circle.fa-stack-2x(aria-hidden="true")
              i.fa.fa-tablet.fa-stack-1x.fa-inverse(aria-hidden="true")
            | Responsive Layout
          p.section__text
            | This theme consists of a single column layout which is suitable for mobile devices and tablets along with PCs.
        .col-md-6
          h3.section__subTitle
            span.fa-stack.fa-lg
              i.fa.fa-circle.fa-stack-2x(aria-hidden="true")
              i.fa.fa-bars.fa-stack-1x.fa-inverse(aria-hidden="true")
            | Custom Menu
          p.section__text
            | You can put a navigation menu in the header area. It can be edited in “Appearance” &gt; “Menus” on the admin panel.
        .col-md-6
          h3.section__subTitle
            span.fa-stack.fa-lg
              i.fa.fa-circle.fa-stack-2x(aria-hidden="true")
              i.fa.fa-copyright.fa-stack-1x.fa-inverse(aria-hidden="true")
            | Custom Logo
          p.section__text
            | You can put a logo image ahead of the site title. Also you can use the “tsumugi” logo in “img” folder of the theme directory.
        .col-md-6
          h3.section__subTitle
            span.fa-stack.fa-lg
              i.fa.fa-circle.fa-stack-2x(aria-hidden="true")
              i.fa.fa-picture-o.fa-stack-1x.fa-inverse(aria-hidden="true")
            | Custom Header
          p.section__text
            | You can put a header image below the site title. By the default, an original photo is placed there. (It can be removed if you like.)
        .col-md-6
          h3.section__subTitle
            span.fa-stack.fa-lg
              i.fa.fa-circle.fa-stack-2x(aria-hidden="true")
              i.fa.fa-puzzle-piece.fa-stack-1x.fa-inverse(aria-hidden="true")
            | Widgets
          p.section__text
            | You can put various components such as categories, tags, archives… and so on. It can be edited in “Appearance” &gt; “ Widgets” on the admin panel.
        .col-md-6
          h3.section__subTitle
            span.fa-stack.fa-lg
              i.fa.fa-circle.fa-stack-2x(aria-hidden="true")
              i.fa.fa-paint-brush.fa-stack-1x.fa-inverse(aria-hidden="true")
            | Theme Customizer
          p.section__text
            | You can edit more useful theme options with the “Theme Customizer”. It can be used in “Appearance” &gt; “ Customize” on the admin panel.

  section.section.mt-5#customization
    .container
      .row
        .col
          h2.section__title.text-center.mb-4 Customization
          p.section__subTitle.text-center For Developers and Designers
          p.section__text
            | If you want customize this theme comprehensively, It’s recommended to "git clone" from the GitHub repository.
            br
            | Please read a README and Wikis as a reference for theme development.
            br
            | Fork and Pull Request will be welcome too!
          p.text-center
            a.btn.btn-primary.external__link(href="https://github.com/littlebirdjp/tsumugi", target="_blank")
              i.fa.fa-github(aria-hidden="true")
              |  View on GitHub

  section.section.mt-5#contact
    .container
      .row
        .col
          h2.section__title.text-center.mb-4 Contact
          p.section__text
            | If you have any questions or feedbacks to this theme. Please send a message from the contact form.
          p.text-center
            a.btn.btn-primary.external__link(href="https://docs.google.com/forms/d/e/1FAIpQLSeIb4iUj2Qh5Wky7B3qeEUH18nKciS3kSp8kmZol7j0Z0aYoQ/viewform", target="_blank")
              i.fa.fa-envelope(aria-hidden="true")
              |  Contact Form

  section.section.mt-5#special-thanks
    .container
      .row
        .col
          h2.section__title.text-center.mb-4 Special Thanks
          p.section__text
            | The name of "tsumugi" is inspired by the song "Tsumugi &#45;amaneku omoi&#45;" written by
            a(href="http://hatsune-official.com/", target="_blank")  Hatsune
            | (A Japanese singer-songwriter).
          p.text-center
            .embed-responsive.embed-responsive-16by9
              iframe.embed-responsive-item(src="https://www.youtube.com/embed/pAHZ9ATXV_Q", width="560", height="315", frameborder="0", allowfullscreen)

  //- .github-corner-wrap.
  //-   <a href="https://github.com/littlebirdjp/tsumugi" target="_blank" class="github-corner" aria-label="View source on Github"><svg width="80" height="80" viewBox="0 0 250 250" style="fill:#151513; color:#fff; position: absolute; top: 0; border: 0; right: 0;" aria-hidden="true"><path d="M0,0 L115,115 L130,115 L142,142 L250,250 L250,0 Z"></path><path d="M128.3,109.0 C113.8,99.7 119.0,89.6 119.0,89.6 C122.0,82.7 120.5,78.6 120.5,78.6 C119.2,72.0 123.4,76.3 123.4,76.3 C127.3,80.9 125.5,87.3 125.5,87.3 C122.9,97.6 130.6,101.9 134.4,103.2" fill="currentColor" style="transform-origin: 130px 106px;" class="octo-arm"></path><path d="M115.0,115.0 C114.9,115.1 118.7,116.5 119.8,115.4 L133.7,101.6 C136.9,99.2 139.9,98.4 142.2,98.6 C133.8,88.0 127.5,74.4 143.8,58.0 C148.5,53.4 154.0,51.2 159.7,51.0 C160.3,49.4 163.2,43.6 171.4,40.1 C171.4,40.1 176.1,42.5 178.8,56.2 C183.1,58.6 187.2,61.8 190.9,65.4 C194.5,69.0 197.7,73.2 200.1,77.6 C213.8,80.2 216.3,84.9 216.3,84.9 C212.7,93.1 206.9,96.0 205.4,96.6 C205.1,102.4 203.0,107.8 198.3,112.5 C181.9,128.9 168.3,122.5 157.7,114.1 C157.9,116.9 156.7,120.9 152.7,124.9 L141.0,136.5 C139.8,137.7 141.6,141.9 141.8,141.8 Z" fill="currentColor" class="octo-body"></path></svg></a><style>.github-corner:hover .octo-arm{animation:octocat-wave 560ms ease-in-out}@keyframes octocat-wave{0%,100%{transform:rotate(0)}20%,60%{transform:rotate(-25deg)}40%,80%{transform:rotate(10deg)}}@media(max-width:991px){.github-corner{display:none}}</style>

block footer_block
  include ./_parts/_footer

//------------------s
//- footer js
//------------------
block footerJS
