.widget {
	margin: 0 0 1.5em;
	font-size: $font-size-sm;
	text-align: center;

	select {
		max-width: 100%;
	/* Make sure select elements fit in widgets. */
	}
	ul {
		display: inline;
		padding-left: 0;
		li {
			display: inline;
			&::before {
				content: ' | ';
			}
			&:first-child {
				&::before {
					content: '';
				}
			}
			li {
				&:first-child {
					&::before {
						content: ' | ';
					}
				}
			}
		}
	}
}

.widget-title {
	font-size: $font-size-h4;
}

.widget_meta {

}
