.widget {
	margin: 0 0 1.5em;
	font-size: $font-size-sm;
	text-align: center;

	select {
		max-width: 100%;
	/* Make sure select elements fit in widgets. */
	}
	ul {
		display: inline;
		padding-left: 0;
		li {
			display: inline;
			&::before {
				content: ' | ';
			}
			&:first-child {
				&::before {
					content: '';
				}
			}
			li {
				&:first-child {
					&::before {
						content: ' | ';
					}
				}
			}
		}
	}
	th {
		text-align: center;
	}
  a {
  	color: $gray;

  	&:hover {
  		color: $gray-light;
  	}
  }
}

.widget-title {
	font-size: $font-size-h2;
	font-family: 'Source Sans Pro',sans-serif;
	color: #0962A8;
}

.widget_meta {

}
