.site-header {
  word-wrap: break-word;
  @include media-breakpoint-up(md) {
    text-align: center;
  }
}

.site-branding {
  text-align: center;
  border-bottom: 1px dashed #165E83;
  margin-bottom: 1.5rem;
}

.site-title {
  margin-bottom: 1.5rem;
  line-height: .5;
  font-family: 'Annie Use Your Telescope', cursive;
  font-size: 2.5rem;
  @include media-breakpoint-up(md) {
    text-indent: -2rem;
    font-size: 3.5rem;
    margin-bottom: -.5rem;
  }
  @include media-breakpoint-up(lg) {
    font-size: 4.5rem;
  }
  @include media-breakpoint-up(xl) {
    font-size: 5.5rem;
  }
  a {
  	color: #165E83;

  	&:hover {
  		color: #165E83;
  	}
  }
  .s, .fa {
    font-size: 10rem;
    color: #429BBF;
    vertical-align: middle;
    display: inline-block;
    @include media-breakpoint-up(lg) {
      font-size: 12rem;
    }
    @include media-breakpoint-up(xl) {
      font-size: 14rem;
    }
  }
}

.site-description {
  //font-family: 'Source Sans Pro',sans-serif;
}
