.site-header {
  word-wrap: break-word;
  @include media-breakpoint-up(md) {
    text-align: center;
  }
}

.site-branding {
  text-align: center;
}

.site-title {
  margin-top: -.5rem;
  margin-bottom: 1rem;
  line-height: 1;
  font-family: 'Shadows Into Light', cursive;
  font-size: 2.5rem;
  @include media-breakpoint-up(md) {
    text-indent: -3rem;
    font-size: 3.5rem;
    margin-bottom: .5rem;
  }
  a {
  	color: $body-color;

  	&:hover {
  		color: $gray-light;
  	}
  }
  .fa {
    font-size: 10rem;
    color: $gray-light;
    vertical-align: middle;
    margin: 0 .8rem -.8rem;
  }
}
