.site-header {
  word-wrap: break-word;
  @include media-breakpoint-up(md) {
    text-align: center;
  }
}

.site-branding {
  text-align: center;
}

.site-title {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.2;
  a {
  	color: $body-color;

  	&:hover {
  		color: $gray-light;
  	}
  }

}
