
body {
	font-family: sans-serif;
	line-height: 1.8;
}

.header {
	&__title {
		font-size: 2rem;
	}
}

.main {
	&__image {
		width: 600px;
		border: 1px solid #ccc;
		@media (max-width:768px) {
			width: 100%;
		}
	}
}

.content {
	position: relative;
}

.embed-responsive {
	max-width: 560px;
	margin-right: auto;
	margin-left: auto;
}
