
:root {
  font-size: 10px;
}

$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;

$textcolor: #000;

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, Verdana, 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  color: $textcolor;
  font-size: 1.2rem;
  line-height: 1.6;
  text-size-adjust: 100%;
  background: #fff;
}

a {
  color: #39BCD4;
  text-decoration: none;
  &:link,
  &:visited {
    color: #39BCD4;
    text-decoration: none;
  }
  &:hover,
  &:active {
    color: #39BCD4;
    text-decoration: underline;
  }
}

.wrapper {
  text-align: center;
  margin: 100px auto;
}

.content {
  display: table;
  width: 100%;
  margin: 50px auto;
}

.underConstruction {
  display: table-cell;
  vertical-align: middle;
  &__title {
    font-size: 3.6rem;
    text-align: center;
  }
}

.copyright {
  padding: 0 0 30px 0;
  text-align: center;
  font-size: 1.2rem;
}
