a {
	color: #FA3600;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);

	&:visited {
		color: #FA3600;
	}
	&:hover,
	&:focus,
	&:active {
		color: #FF8A00;
		text-decoration: none;
	}
	&:focus {
		//outline: thin dotted;
	}
	&:hover,
	&:active {
		//outline: 0;
	}
}
