a {
	color: $color__link;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);

	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
		text-decoration: none;
	}
	&:focus {
		//outline: thin dotted;
	}
	&:hover,
	&:active {
		//outline: 0;
	}
}
