.comment-list {
	list-style: none;
	padding-left: 0;
	.children {
		list-style: none;
	}
}

.comment-meta {
  a {
  	color: $gray;

  	&:hover {
  		color: $gray-light;
  	}
  }
}

.says {
	display: none;
}

.comment-metadata {
	font-size: $font-size-sm;
}

.comment-content {
	a {
		word-wrap: break-word;
	}
	p {
		margin-bottom: 0;
	}
}

.reply {
	margin-bottom: .75rem;
}

.bypostauthor {
	display: block;
}

.logged-in-as {
	font-size: $font-size-sm;
}

.comment-notes {
	font-size: $font-size-sm;
}
