.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.entry-meta {
	font-size: $font-size-sm;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.entry-footer {
	font-size: $font-size-sm;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
