.site-content {
	word-wrap: break-word;
}

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.entry-title {
  a {
  	color: $body-color;

  	&:hover {
  		color: $gray-light;
  	}
  }
}

.entry-meta {
	font-size: $font-size-sm;
	color: $gray;
  a {
  	color: $gray;

  	&:hover {
  		color: $gray-light;
  	}
  }
	span {
		margin-right: .25rem;
	}
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.entry-content {
	pre {
		line-height: 1;
	}
}

.entry-footer {
	font-size: $font-size-sm;
	color: $gray;
  a {
  	color: $gray;

  	&:hover {
  		color: $gray-light;
  	}
  }
	span {
		margin-right: .25rem;
	}
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
