footer.footer.mt-5
  .container
    .row
      .col.text-center
        p
          | Proudly powered by&nbsp;
          a(href="https://ja.wordpress.org/", target="_blank") WordPress
          span.hidden-sm-down
            |  |
          br.hidden-md-up
          | Theme by&nbsp;
          a(href="http://littlebird.mobi/", target="_blank") youthkee
        p.copyright
          | &copy; littlebird
