header.header
  nav.navbar.navbar-expand-md.navbar-light.bg-light
    button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
    a.navbar-brand(href=rootPath+"ja/")
      h1.header__title tsumugi
    #navbarNav.collapse.navbar-collapse
      ul.navbar-nav.mr-auto
        li.nav-item
          a.nav-link(href='#features') 特長
        li.nav-item
          a.nav-link(href='http://tsumugi.halfmoon.jp/ja/', target='_blank') デモサイト
        li.nav-item
          a.nav-link(href='https://ja.wordpress.org/themes/tsumugi/', target='_blank') 無料ダウンロード
        li.nav-item
          a.nav-link(href='http://littlebird.mobi/', target='_blank') ブログ
        li.nav-item
          a.nav-link(href='https://docs.google.com/forms/d/e/1FAIpQLSeIb4iUj2Qh5Wky7B3qeEUH18nKciS3kSp8kmZol7j0Z0aYoQ/viewform', target='_blank') お問い合わせ
        li.nav-item
          a.nav-link(href='https://github.com/littlebirdjp/tsumugi', target='_blank') GitHub
        li.nav-item.dropdown
          a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href='javascript:void(0);', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
            | Language
          .dropdown-menu(aria-labelledby='navbarDropdownMenuLink')
            a.dropdown-item(href=rootPath+'?lang=en') English
            a.dropdown-item(href=rootPath+'ja/') Japanese
      a.btn.btn-outline-primary(href="https://dock.readyship.co/website/create/a53c4365-dda8-4ba9-b2c6-808c2d0d7bc1") ホームページ作成
