header.header
  nav.navbar.navbar-toggleable-md.navbar-light.bg-faded
    button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
    a.navbar-brand(href=rootPath+"ja/")
      h1.header__title tsumugi
    #navbarNav.collapse.navbar-collapse
      ul.navbar-nav
        li.nav-item
          a.nav-link(href='#concept') コンセプト
        li.nav-item
          a.nav-link(href='#features') 特長
        li.nav-item
          a.nav-link(href='#customization') カスタマイズ
        li.nav-item
          a.nav-link(href='#special-thanks') Special Thanks
        li.nav-item.dropdown
          a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href='http://example.com', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
            | Language
          .dropdown-menu(aria-labelledby='navbarDropdownMenuLink')
            a.dropdown-item(href=rootPath) English
            a.dropdown-item(href=rootPath+'ja/') Japanese
